<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>nTasks</title>
  <meta name="description" content="">
  
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="js/jqplot/jquery.jqplot.css">

  <!-- TODO: Change all http:// URLs to use protocol-relative urls (without "http:") !-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://www.parsecdn.com/js/parse-1.0.20.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
  
  <script src="bootstrap/js/bootstrap.js"></script>
  <script src="js/jqplot/jquery.jqplot.js"></script>
  <script src="js/jqplot/plugins/jqplot.barRenderer.js"></script>
  <script src="js/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
  <script src="js/jqplot/plugins/jqplot.pointLabels.js"></script>
  <script src="js/ntasks.js"></script>

  <script type="text/template" id="task-item-template">
    <td>
      <% if (selected) { %>
        <form class="form form-inline form-edit-task">
          <div class="input-append">
            <input type="text" class="task-name-edit" value="<%= name %>">
            <button type="submit" class="btn">OK</button>
          </div>
        </form>
      <% } else { %>
        <span class="task-name"><%= name %></span>
      <% } %>
    </td>
    
    <td>
      <div class="btn-group">
        <a class="btn btn-mini btn-<%= statusClass(status) %> dropdown-toggle task-status" data-toggle="dropdown" href="#">
          <%= statusString(status) %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" class="danger status-urgent">Urgent</a></li>
          <li><a href="#" class="warning status-todo">To-Do</a></li>
          <li><a href="#" class="info status-progress">In Progress</a></li>
          <li><a href="#" class="success status-done">Done</a></li>
        </ul>
    </div>
      <!--
      <div class="btn-group task-status">
        <a class="btn btn-mini status-urgent <% if (status == TaskStatus.URGENT) { %> btn-danger<% } %>" href="#">Urgent</a>
        <a class="btn btn-mini status-todo <% if (status == TaskStatus.TODO) { %> btn-warning<% } %>" href="#">To-Do</a>
        <a class="btn btn-mini status-progress<% if (status == TaskStatus.INPROGRESS) { %> btn-info<% } %>" href="#">In Progress</a>
        <a class="btn btn-mini status-done<% if (status == TaskStatus.DONE) { %> btn-success<% } %>" href="#">Done</a>
      </div>
      !-->
    </td>
    <td>
      <div class="btn-group task-actions">
        <a class="btn btn-mini start-tracking" href="#">Start</a>
        <a class="btn btn-mini stop-tracking <% if (active) { %> btn-danger<% } %>" href="#">Stop</a>\
        <a class="btn btn-mini task-details" href="#">Details</a>
      </div>
    </td>
    <td>
      <span class="total-duration"><%= formatDuration(duration) %></span>
    </td>
  </script>

  <script type="text/template" id="project-item-template">
    <a class="select" href="#"><%= title %><button class="close delete">&times;</button></a>
  </script>

  <script type="text/template" id="navigation-bar-template">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">nTasks</a>
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#/stats">Stats</a></li>
          <li><a href="#/reports/">Reports</a></li>
          <li><a href="#/settings/">Settings</a></li>
          <% if (user) { %>
            <li><a class="log-out" href="#">LogOut</a></li>
          <% } %>
        </ul>
        <div class="active-task-display pull-right">
          <span class="task-name"></span>
          <span class="task-current-duration"></span>
          <a href="#" class="btn btn-danger stop-tracking">Stop</a>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="login-form-template">
    <form class="well form-horizontal login-form">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="login-username">Username</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="login-username" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="login-password">Password</label>
          <div class="controls">
            <input type="password" class="input-xlarge" id="login-password" />
          </div>
        </div>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">LogIn</button>
        </div>
      </fieldset>
    </form>
    <form class="well form-horizontal signup-form">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="signup-username">Username</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="signup-username" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup-password">Password</label>
          <div class="controls">
            <input type="password" class="input-xlarge" id="signup-password" />
          </div>
        </div>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">SignUp</button>
        </div>
      </fieldset>
    </form>
  </script>

  <script type="text/html" id="main-view-template">
    <div class="row-fluid">
      <div class="span3">
        <div id="project-list"></div>
      </div>
      <div class="span9">
        <div id="task-list"></div>
      </div>
    </div>
  </script>

  <script type="text/html" id="project-dialog-template">
  <div class="modal hide" id="project-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3>Add New Project</h3>
    </div>
    <div class="modal-body">
      <form class="well form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="project-title">Project title</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="project-title" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="project-client">Client</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="project-client" />
            </div>
          </div>
          <div class="form-actions">
            <button class="btn cancel">Cancel</button>
            <button class="btn btn-primary" type="submit">Add Project</button>
          </div>
        </fieldset>
      </form>
    </div>
  </script>

  <script type="text/html" id="task-list-template">
    <div class="page-header">
      <h1><%= title %></h1>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="sort-name sort-name-asc">Task Name <i class="icon-chevron-down"></i></th>
          <th class="sort-status sort-status-asc">Status <i class="icon-chevron-down"></i></th>
          <th></th>
          <th class="sort-duration sort-duration-asc">Time Spent <i class="icon-chevron-down"></i></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <form class="form form-inline form-new-task">
      <div class="input-append">
        <input type="text" id="new-task-name" placeholder="New Task Name">
        <button type="submit" class="btn">Add Task</button>
      </div>
    </form>
  </script>

  <script type="text/html" id="delete-dialog-template">
    <div class="modal hide" id="confirm-delete-dialog">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Really delete <%= title %>?</h3>
      </div>
      <div class="modal-body">
        <p>This cannot be undone</p>
      </div>
      <div class="modal-footer">
        <a class="btn cancel" data-dismiss="modal">Cancel</a>
        <a class="btn btn-danger delete">Delete</a>
      </div>
    </div>
  </script>

  <script type="text/html" id="stats-view-template">
    <div id="plot-placeholder" class="jqplot-target" style="margin-top: 20px; margin-left: 20px; width: 500px; height: 300px; position: relative;"></div>
  </script>
  
</head>
<body>
  <header>

  <div id="navigation"></div>

  </header>
  <div role="main" class="container-fluid" id="main-container">

    

  </div>
  <footer>

  </footer>
</body>
</html>

<!-- kate: space-indent on; indent-width 2; mixedindent off; indent-mode cstyle; -->